.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Awal Login */
.Login {
  margin: 2rem;
}
#Spinner {
  margin-left: 5rem;
}
/* Akhir Login */

/* Awal Home */
.Home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: cadetblue;
}
.Card {
  text-align: center;
  padding: 2rem;
}
.Card img {
  height: 250px;
}
/* Akhir CSS Bagian Home  */

/* Awal CSS Bagian About */
.About {
  background-color: lightblue;
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.AboutUs {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 10rem;
  border-style: ridge;
  border-width: 10px;
  border-radius: 25px;
  font-size: 20px;
  padding: 1rem;
}

.Profil {
  justify-content: center;
  display: flex;
  margin: 2rem;
  margin-top: 8rem;
}
/* Akhir CSS Bagian About */
